# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V

Python 3.7.12

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd
#pd.set_option('display.max_rows',1000)
#pd.set_option('display.max_columns',1000)

In [3]:
dataset = pd.read_csv('db.csv',sep=';')

In [4]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [5]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
dataset[['Quilometragem','Valor']]

     Quilometragem      Valor
0          44410.0   88078.64
1           5712.0  106161.94
2          37123.0   72832.16
3              NaN  124549.07
4          25757.0   92612.10
..             ...        ...
253        27505.0   51759.58
254        29981.0   51667.06
255        52637.0   68934.03
256         7685.0  122110.90
257        50188.0   90381.47

[258 rows x 2 columns]

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
()

()

In [9]:
1,2,3

(1, 2, 3)

In [10]:
nome = 'Passat'
valor=153000
(nome,valor)

('Passat', 153000)

In [11]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [14]:
nomes_carros[0]

'Jetta Variant'

In [15]:
nomes_carros[1]

'Passat'

In [16]:
nomes_carros[-1]

'DS5'

In [17]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [18]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [19]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [20]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [23]:
carro_1,carro_2,carro_3,carro_4 = nomes_carros

In [24]:
carro_1

'Jetta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

In [28]:
_,A,_,B = nomes_carros

In [29]:
A

'Passat'

In [30]:
B

'DS5'

In [31]:
_,C,*_= nomes_carros

In [32]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [33]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [34]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [35]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [36]:
for carro,valor in zip(carros,valores):
  print(carro,valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [37]:
for carro,valor in zip(carros,valores):
  if valor>100000:
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [38]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [39]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [40]:
carros.index('Passat')

1

In [41]:
valores[carros.index('Passat')]

106161.94

In [42]:
dados = {'Jetta Variant':88078.64,'Passat':106161.94,'Crossfox':72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [43]:
type(dados)

dict

### Criando dicionários com *zip()*

In [44]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [45]:
dados = dict(zip(carros,valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

In [46]:
dados = {'Jetta Variant':88078.64,'Passat':106161.94,'Crossfox':72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [47]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [48]:
'Passat' in dados

True

In [49]:
'Fusca' in dados

False

In [50]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [51]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [52]:
dados['DS5'] = 124549.07

In [53]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [54]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [55]:
del dados['Passat']
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [56]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [57]:
dados.update({'Passat': 106161.94})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [58]:
dados.update({'Passat': 106161.95,'Fusca':150000})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.copy()*

Cria uma cópia do dicionário.

In [59]:
dados_copy = dados.copy()

In [60]:
dados_copy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [61]:
del dados_copy['Fusca']
dados_copy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [62]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [63]:
dados_copy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [64]:
#dados_copy.pop('Passat')

In [65]:
dados_copy.pop('Passat','Chave não encontrada')

106161.95

In [66]:
dados_copy.pop('DS5','Chave não encontrada')

124549.07

In [67]:
dados_copy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [68]:
dados_copy.clear()

In [69]:
dados_copy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [70]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [71]:
for key in dados.keys():
  print(dados[key])

88078.64
72832.16
124549.07
106161.95
150000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [72]:
dados.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.95, 150000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [73]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 124549.07), ('Passat', 106161.95), ('Fusca', 150000)])

In [74]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124549.07)
('Passat', 106161.95)
('Fusca', 150000)

In [75]:
for key,value in dados.items():
  print(key,value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 124549.07
Passat 106161.95
Fusca 150000

In [76]:
for key,value in dados.items():
  if value>100000:
    print(key)

DS5
Passat
Fusca

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [77]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [78]:
soma = 0
for valor in dados.values():
  soma+=valor
soma

267072.74

In [79]:
sum(dados.values())

267072.74

In [80]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [81]:
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [82]:
def media():
  valores = [1,2,3,4]
  media= sum(valores)/len(valores)
  print(media)

In [83]:
media()

2.5

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [84]:
def media(*numbers):
  print(sum(numbers)/len(numbers))

In [85]:
media(1,2,3,4)

2.5

In [86]:
def media(lista):
  print(sum(lista)/len(lista))

In [87]:
media([1,2,3,4,5,6])

3.5

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [88]:
def media(lista):
  return sum(lista)/len(lista)

In [89]:
media([1,5,4,7,9,4])

5.0

In [90]:
resultado = media([1,5,4,7,9,4])

In [91]:
resultado

5.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [92]:
def media(lista):
  return (sum(lista)/len(lista),len(lista))

In [93]:
media([2,1,4,3,5,6,7,4])

(4.0, 8)

In [94]:
resultado,n=media([2,1,4,3,5,6,7,4])

In [95]:
resultado

4.0

In [96]:
n

8

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [98]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [114]:
carros = ['Jetta Variant','Passat','Crossfox']
carros

['Jetta Variant', 3, 'Crossfox']

In [115]:
pd.Series(carros)

0    Jetta Variant
1                3
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [101]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [102]:
dataset = pd.DataFrame(dados)

In [103]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [105]:
dataset[['Nome','Motor','Ano','Quilometragem',	'Zero_km',	'Valor']]

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [106]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [107]:
dataset = pd.DataFrame(dados)

In [108]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [112]:
dataset = pd.read_csv('db.csv',sep=';')
#dataset = pd.read_csv('db.csv',sep=';',index_col=0)

In [113]:
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [116]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [117]:
type(dataset['Valor'])

pandas.core.series.Series

In [118]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [119]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [120]:
dataset[0:4]

                         Motor  ...      Valor
Nome                            ...
Jetta Variant  Motor 4.0 Turbo  ...   88078.64
Passat            Motor Diesel  ...  106161.94
Crossfox       Motor Diesel V8  ...   72832.16
DS5            Motor 2.4 Turbo  ...  124549.07

[4 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [121]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [122]:
dataset.loc[['Passat','DS5']]

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [123]:
dataset.loc[['Passat','DS5'],['Motor','Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [124]:
dataset.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [125]:
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [126]:
dataset.iloc[1:4]

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

In [131]:
dataset.iloc[1:4,[0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [132]:
dataset.iloc[[1,42,22],[0,5,2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [133]:
dataset.iloc[:,[0,5,2]]

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

# 5.3 Queries com DataFrames

In [134]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [138]:
dataset.Motor == 'Motor Diesel'

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [140]:
type(dataset.Motor == 'Motor Diesel')

pandas.core.series.Series

In [139]:
dataset[dataset.Motor == 'Motor Diesel']

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [141]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

### Utilizando o método query

In [142]:
dataset.query('Motor == "Motor Diesel" and Zero_km==True')

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

# 5.4 Iterando com DataFrames

In [143]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [145]:
for index,row in dataset.iterrows():
  if 2019-row['Ano']!=0:
    dataset.loc[index,'Km_media'] = row['Quilometragem']/(2019-row['Ano'])
  else:
    dataset.loc[index,'Km_media'] = row['Quilometragem']
dataset

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

In [149]:
for c in dataset.items():
  print(c)

('Motor', Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object)
('Ano', Nome
Jetta Variant            2003
Passat                   1991
Crossfox                 1990
DS5                      2019
Aston Martin DB4         2006
                         ...
Phantom 2013             2014
Cadillac Ciel concept    1991
Classe GLK               2002
Aston Martin DB5         1996
Macan                    1992
Name: Ano, Length: 258, dtype: int64)
('Quilometragem', Nome
Jetta Variant            44410.0
Passat                    5712.0
Crossfox                 37123.0
DS5                          NaN
Aston Martin DB4         25757.0
                          ...
Phantom 2013             27505.0
Cadillac Ciel concept    29981.0
Classe GLK               52637.0
Aston Martin DB5          7685.0
Macan                    50188.0
Name: Quilometragem, Length: 258, dtype: float64)
('Zero_km', Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Zero_km, Length: 258, dtype: bool)
('Acessórios', Nome
Jetta Variant            ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Passat                   ['Central multimídia', 'Teto panorâmico', 'Fre...
Crossfox                 ['Piloto automático', 'Controle de estabilidad...
DS5                      ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Aston Martin DB4         ['Rodas de liga', '4 X 4', 'Central multimídia...
                                               ...
Phantom 2013             ['Controle de estabilidade', 'Piloto automátic...
Cadillac Ciel concept    ['Bancos de couro', 'Painel digital', 'Sensor ...
Classe GLK               ['Rodas de liga', 'Controle de tração', 'Câmbi...
Aston Martin DB5         ['Ar condicionado', '4 X 4', 'Câmbio automátic...
Macan                    ['Central multimídia', 'Teto panorâmico', 'Vid...
Name: Acessórios, Length: 258, dtype: object)
('Valor', Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64)
('Km_media', Nome
Jetta Variant            2775.625000
Passat                    204.000000
Crossfox                 1280.103448
DS5                              NaN
Aston Martin DB4         1981.307692
                            ...
Phantom 2013             5501.000000
Cadillac Ciel concept    1070.750000
Classe GLK               3096.294118
Aston Martin DB5          334.130435
Macan                    1858.814815
Name: Km_media, Length: 258, dtype: float64)

# 5.5 Tratamento de dados

In [150]:
dataset.head()

                            Motor   Ano  ...      Valor     Km_media
Nome                                     ...
Jetta Variant     Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat               Motor Diesel  1991  ...  106161.94   204.000000
Crossfox          Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5               Motor 2.4 Turbo  2019  ...  124549.07          NaN
Aston Martin DB4  Motor 2.4 Turbo  2006  ...   92612.10  1981.307692

[5 rows x 7 columns]

In [151]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       197 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [152]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [153]:
dataset[dataset.Quilometragem.isna()]

                                Motor   Ano  ...      Valor  Km_media
Nome                                         ...
DS5                   Motor 2.4 Turbo  2019  ...  124549.07       NaN
A5                    Motor 4.0 Turbo  2019  ...   56445.20       NaN
J5                           Motor V6  2019  ...   53183.38       NaN
A3                       Motor 1.0 8v  2019  ...   88552.39       NaN
Série 1 M                    Motor V8  2019  ...   94564.40       NaN
...                               ...   ...  ...        ...       ...
Lamborghini Reventón  Motor 4.0 Turbo  2019  ...   67664.86       NaN
Benni Mini                   Motor V8  2019  ...  126247.84       NaN
Uno                   Motor Diesel V6  2019  ...  128852.21       NaN
Santa Fe                Motor 3.0 32v  2019  ...  129415.33       NaN
XC60                  Motor 4.0 Turbo  2019  ...   77675.79       NaN

[61 rows x 7 columns]

In [154]:
dataset.fillna(0)

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

In [ ]:
dataset

In [156]:
dataset.fillna(0,inplace=True)

In [157]:
dataset

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

In [158]:
dataset.query('Zero_km == True')

                                Motor   Ano  ...      Valor  Km_media
Nome                                         ...
DS5                   Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                    Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                           Motor V6  2019  ...   53183.38       0.0
A3                       Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                    Motor V8  2019  ...   94564.40       0.0
...                               ...   ...  ...        ...       ...
Lamborghini Reventón  Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                   Motor V8  2019  ...  126247.84       0.0
Uno                   Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                  Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [159]:
dataset = pd.read_csv('db.csv',sep=';')

In [160]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [162]:
dataset.dropna(subset = ['Quilometragem'],inplace=True)

In [163]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]